{% extends 'EphpWsInvokerBundle::layout.html.twig' %}

{% block admin_content %}
<h1>Help\OutField creation</h1>

<form action="{{ path('admin_help_output_create') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <p>
        <button type="submit">Crea</button>
    </p>
</form>

<ul class="record_actions">
    <li>
        <a href="{{ path('admin_help_output', {'service': entity.service.name}) }}">
            Back to the list
        </a>
    </li>
</ul>
